.nav-link.active {
  color: #ff6347 !important;  /* Tomato color */
}

.hover-grow:hover {
  transform: scale(1.05);
}

/* CSS */
.social-icon {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 0;
  border: none;
}

.linkStyle {
  text-decoration: none;
}

.linkStyle h5 {
  display: inline-block;
  transition: color 0.3s;
  color: black;
}

.linkStyle:hover h5 {
  color: #ff6347;
}

.home-section {
  background: url('https://wallpapercave.com/wp/3yOCFur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; 
}

.jumbotron-style {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
}

.home-section:hover .jumbotron-style {
  transform: scale(1.01);
}

.profile-image {
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin: auto;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-card {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.experience-card{
  transition: all 0.5s ease-in-out;
}

.experience-card {
  height: 100%;  /* This will ensure that each card takes full height of its container */
}

.experience-card .card-img-top {
  height: auto;  /* Set a fixed height for the images */
  object-fit: cover; /* This will crop the image to fit the container */
}

.experience-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.nav-color {
  background-color: #343a40;  /* adjust color to fit your design */
}

.nav-link:hover {
  color: #007bff;  /* adjust color to fit your design */
}

.timeline {
  position: relative;
  padding-left: 40px;  /* Increased the padding to accommodate the dot and some spacing */
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;  /* Positioned the line slightly to the right to allow space for the dot */
  width: 2px;
  background: #e0e0e0;
}

.timeline-event {
  position: relative;
  margin-bottom: 20px;
}

.event-indicator {
  position: absolute;
  left: -24px;  /* Positioned the dot to the left to ensure it doesn't overlap with the card */
  width: 10px;
  height: 10px;
  background: #ff6347;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.event-content {
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background 0.3s ease-in-out;
}

.timeline-event:hover .event-content {
  background: #e9ecef;
}

.event-time {
  font-size: 0.9em;
  color: #6c757d;
  margin-bottom: 8px;
}

.activity-name, .activity-name-p {
  font-weight: bold;
}

.activity-name, .activity-name-p {
  font-weight: bold;
}

.activity-name {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;  /* Remove underline */
  transition: color 0.3s;
}

.activity-name-p{
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;  /* Remove underline */
}

.activity-name:hover{
  color: #ff6347;
}

.link-group {
  display: flex;
  flex-wrap: wrap;  /* Allow the links to wrap to the next line if there's not enough space */
}

.custom-link {
  display: flex;
  color: inherit !important;
  justify-content: center;  /* Center content horizontally */
  align-items: center;      /* Center content vertically */
  padding: 8px 12px;
  background-color: #f7f7f7; 
  border-radius: 5px;
  transition: background-color 0.2s;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 10px;
  width: auto;  
  box-sizing: border-box;
  text-decoration: none !important;
}

.custom-link:hover {
  background-color: #e7e7e7;
  color: white !important;
  text-decoration: none !important;
}

.custom-link i {
  font-size: 1.1em;
  text-decoration: none !important;
}

.internship-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 35%;  /* Add padding to prevent text overlap, adjust as necessary */
}
.details-container a{
  text-decoration: none;
}

.company-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.internship-image {
  max-width: 32%;  /* Adjust width as per your preference */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; 
  right: 10px;
  top: 50%;
  transform: translateY(-50%);  /* Center the image vertically */
}

.experience-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.skills {
  color: black !important; /* Default Bootstrap primary color */
  text-decoration: none !important;
}

.btn-primary {
  /* background-color: #ff6347 !important; */
  border: none !important;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.activity-image {
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 5px;
  float: right;  /* Makes the image float to the left of the text */
}

.mb-4 {
  display: flex;
  flex-direction: column;
}

#scrollToTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none;
  background-color: #555; /* Dark background */
  color: white; /* White text */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollToTopButton:hover {
  background-color: #ff6347; /* Add a darker background on hover */
}

.badge-section {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.badge-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-item img {
  transition: transform 0.3s ease;
}

.profile-image-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.icon-section {
  gap: 10px;
}

.icon-btn {
  font-size: 1.5rem;
  color: #333; /* or any other color you prefer */
  transition: transform 0.2s, color 0.2s;
}

.icon-btn:hover {
  color: #ff6347; /* or any other color for hover effect */
  transform: scale(1.1);
}

.badge-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.title-enhanced {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.title-contact {
  font-size: 1rem; /* Increase font size */
  font-weight: bold; /* Make it bold */
  color: black; /* Updated to the complementary color */
  position: relative;
  padding-bottom: 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1.6rem; /* Increase font size */
  letter-spacing: 1.5px;
  position: relative;
}

.competition-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: none;
}

.competition-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.certificate-image {
  width: 100%;
  max-height: 200px;  /* You can adjust this as required */
  object-fit: cover;
  object-position: center 35%;
}

.competition-title {
  font-size: 1.6em;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}

.competition-card .card-subtitle {
  font-style: italic;
  margin-bottom: 10px;
}

.competition-card .card-text {
  margin-bottom: 10px;
  font-size: 0.95em;
  line-height: 1.6;
  color: #555;
}

/* App.css */
.markdown-credentials {
  margin-top: 2px;
}

.pub .slick-dots {
  margin-bottom: 20px;
}

.comp .slick-dots {
  margin-bottom: -1px;
}

.project-card {
  transition: transform 0.3s;
  cursor: pointer;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 400px;  /* or any desired fixed height */
  object-fit: cover;
}

.project-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: white !important; /* Or any color that suits your design */
}

.image-overlay {
  background: rgba(0, 0, 0, 0.3); /* Lighter black overlay with reduced opacity */
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for background and transform */
  cursor: pointer; /* Indicate clickable area */
  will-change: background; /* Hint for potential background changes */
}

.image-overlay:hover {
  background: rgba(0, 0, 0, 0.4); /* Slightly darker on hover, but still lighter than before */
}

/* If there's text inside the overlay */
.image-overlay .project-title {
  color: white; /* Ensure text is readable against dark overlay */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Slightly lighter shadow for better readability */
}

.white-text {
  color: white !important; /* Ensure this overrides other color styles */
  display: none;
}

.carousel-item img {
  object-fit: cover; /* This will make sure images cover the area without distorting */
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 35%;
}

.blog-card{
  transition: all 0.5s ease-in-out;
}

.blog-card {
  height: 100%;  /* This will ensure that each card takes full height of its container */
}

.blog-card .card-img-top {
  height: auto;  /* Set a fixed height for the images */
  object-fit: cover; /* This will crop the image to fit the container */
}

.blog-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.blog-image {
  max-width: 32%;  /* Adjust width as per your preference */
  border-radius: 10px;
  height: 98%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; 
  right: 15px;
  top: 50%;
  transform: translateY(-50%);  /* Center the image vertically */
}

.skill-card {
  transition: 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-logo-wrapper {
  position: relative;
  width: 40%; /* Adjusted from 100% */
  padding-bottom: 40%; /* Keeps 1:1 aspect ratio */
  margin: 0 auto 0px; /* Adjusted margin */
}

.skill-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skill-title {
  font-size: 0.85rem;  /* Adjust font size as needed */
  padding-top: 20px !important;  /* Increase space between logo and text */
  margin-bottom: 5px;  /* Decrease space under the text */
}

/* CSS to hide the carousel controls but keep them functional */
.carousel-control-prev, .carousel-control-next {
  opacity: 0 !important;
}

