.opening-container {
    height: 100vh;
    background-color: #fff; /* White background */
    color: #333; /* Dark text for contrast */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* In case of animation overflow */
}

.opening-nav ul {
    list-style: none;
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
}

.opening-nav .nav-item {
    margin-left: 20px;
    opacity: 0;
    transform: translateX(20px);
    animation: slide-in 0.5s ease forwards;
    animation-delay: 0.5s;
}

.main-content {
    text-align: center;
}

.main-title {
    font-size: 5rem;
    letter-spacing: 15px;
    opacity: 0;
    transform: scale(0.8);
    animation: pop-in 0.5s ease forwards;
    animation-delay: 1s;
}

.main-subtitle {
    font-size: 1rem;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: slide-up 0.5s ease forwards;
    animation-delay: 1.5s;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
